<?xml version="1.0" encoding="UTF-8"?>

<config name="ecatalogue">
  <solr host="solr.palantir.net" port="8080" core="kiwi" path="/solr/kiwi" />
  <emu host="66.158.71.71" port="40000" reconnect-port="45000" />
  <processors count="1" batch-size="2" />

  <base-table name="ecatalogue" />

  <filters>
    <filter name="AdmPublishWebNoPassword" value="Yes" />
    <filter name="CatDepartment" value="Zoology" operator="matches" />
    <filter name="ColEarliestDateCollected" value="18/09/1939" />
  </filters>

  <table name="ecatalogue" type="attach">
    <field name="irn" search="1" display="1" />
    <field name="ColEarliestDateCollected" indexed="1" stored="1" fulltext="1" sort="1" />
    <field name="ColLatestDateCollected" indexed="1" stored="1" fulltext="1" sort="0" />
<!-- These fields are reporting not found in Emu for some reason.  -->
<!--    <field name="PriCollectionDate" search="1" display="1" fulltext="1" sort="1" />-->
<!--    <field name="PriSiteCEDateCollected" search="1" display="1" fulltext="1" sort="0" />-->
  </table>



  <base name="collection" index="1" display="0" single-attach="Append" multi-attach="Merge">
    <field name="foo" index="0" />
    <field name="bar" index="0" fulltext="1" />
    <field name="baz" display="1" sort="1" />
    <field name="stuff_ref" single-attach="Append">
      <base name="narrative" search="0" index="1" display="0">
        <field name="narf" index="0" display="1" />
      </base>
    </field>
    <field name="thing_ref" single-attach="Merge">
      <base name="media">

      </base>
    </field>
    <field name="thing_ref" single-attach="Collapse">
      <base name="media">
        <field name="thingie" />
        <field name="stuffie" />
      </base>
    </field>
  </base>

</config>
